<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                        <div class="cta-text">
                            <h4>Encuentranos</h4>
                            <span>Carrera 80A #52B-30, Medellín, Colombia</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Llámanos</h4>
                            <span>+57 3015168181</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Escríbenos</h4>
                            <span>jucaviza@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Kia-logo.png"
                                    class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>IBIZA CAFE BAR ofrece soluciones tecnológicas innovadoras para resolver problemas
                                complejos. Expertos altamente capacitados ofrecen servicios de calidad en todas nuestras
                                áreas de especialización.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Síguenos</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Enlaces Útiles</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Mas información</a></li>
                            <li><a href="#">Nuestro Equipo</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Últimas Noticias</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Suscribete</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Suscribete para recibir más notícias o tips para evitar este tipo de estafas.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Dirección de Correo">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="https://codepen.io/anupkumar92/">IBIZA</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terminos y Condiciones</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="#">Políticas</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>