.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    text-align: center;
}

.image-container {
    text-align: center;
}

div h1 {
    height: fit-content;
    padding: 0;
    margin: auto;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 6rem;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}
